body {
    font: 14px 'Verdana';
    margin: 0;
    padding: 0;
}
/*делаем элмент - блочным, убираем лишние отступы, убираем точки-маркеры*/
ul {
    display: block;
    margin: 0;
    padding: 0;
    list-style: none;
}
/*зачищаем края. Без этого блока работать будет, но лучше - с ним*/
ul:after {

}
/*делаем меню из элементов - они теперь, прижаты. А также - позиционированы. Чтобы Выпаающее меню - позиционировалось от них.

*/
ul.menu > li {
    float: left; /*изменив на right - прижмем к правому краю и перетосуем*/
    position: relative; /*Если убрать это свойство - блоки будут позиционироваться по левому верхнему краю*/
}

ul.menu > li > a {
    display: block; /*Если не сделать, то событие "Ховер" - будет "соскальзывать"*/
    padding: 10px; /*"красивые отступы от края элемента margin"*/
    color: white; /*Цвет текста*/
    background-color: red; /*фот текста*/
    text-decoration: none; /*убираем по умолчнию подчеркивание ссылки*/
}
ul.menu > li > a:hover {
    background-color: blue;/* изменение оформления наведенного поля на "черный"*/
}
ul.submenu { /*по умолчанию поля подменю - есть, но не отображаются, т.к.   display: none;*/
    display: none;
    position: absolute;
    width: 120px;
    top: 37px;
    left: 0;
    background-color: white;
    border: 1px solid red;
}
ul.submenu > li { /*делаем так, что каждый элемент списка - становится блочным элементом*/
    display: block; /*Элемент не обязательный, но вполне желательный*/
}
ul.submenu > li > a {
    display: block;
    padding: 10px;
    color: white;
    background-color: red;
    text-decoration: none;
}
ul.submenu > li > a:hover {
    text-decoration: underline; /*при наведении на ссылку в подменю - появляется подчеркивание*/
}
ul.menu > li:hover > ul.submenu { /*при наведении на элемент списка верхнего урвня li:hover - меню проявляется*/
    display: block;
}
/*Задания:
1. Поменять цвет меню.
2. Поменять подчеркивание ссылки - сделать "зачеркивание"
3. Сдвинуть место появления выпадающего меню на 15 пикселей вправо
4. Сделать так, чтобы все все меню второго уровня появлялись сразу под главным меню и имели такую же ширину как главное меню.
5. Заменить цвет, фона верхнего меню при наведении на синий.
6. Сделать изменение фона при наведение на пункты меню (выпадающих элементов).
7*. "Перетосовать" элементы меню только в CSS
*/
