.wrapper{
    width:128px;
    margin:0 auto;
    text-align: center;

}
.tree2{

}
.ball{
    position: absolute;
    left:10px;
    top:20px;
}
.treediv2{
    position: absolute;
    top:10px;
    left:10px;
    
}