@import url('https://fonts.googleapis.com/css?family=Roboto');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
header{
    height: 91px;
}
.slider{
    min-height: 599px;
    background: url('../img/back.jpg'); /*фон*/
    background-size: cover;
    text-align: center;
    position: relative;
}
.slider-block{
    display: inline-block;
    position: relative;
    margin-top:218px;
}

.slider-block h1{
    font-family:  "Roboto Black", sans-serif;
    color:  #ffffff;
    font-size: 60px;/* Приближение из-за подстановки шрифтов */
    
    line-height: 82px;/* Приближение из-за подстановки шрифтов */
    text-align: left;
    margin: 0 auto;
    display: inline-block;


}
.slider-block .tips{
    /* Встроенный стиль */
    font-family: "Roboto Light", sans-serif;
    font-size: 24px;
    color: #fff;
    text-align: left;
}
.wrapper{
    width:1170px;
    margin: 0 auto;

}
.sales h2{
    font-family: Roboto;
    color:  #515151;
    font-size: 48px;/* Приближение из-за подстановки шрифтов */
    font-weight: 900;
    line-height: 32px;/* Приближение из-за подстановки шрифтов */
    text-align: center;
}
.lt, .rt{
    background-color:  rgba(78, 198, 171, 0.65);
    width: 104px;
    height: 104px;
    line-height: 104px;
    font-family: Pe;
    color:  #ffffff;
    font-size: 50px;/* Приближение из-за подстановки шрифтов */
    border:0;
    opacity: 0.5;
    position: absolute;
    top:15px;
}
.lt{
    left:-180px;
 
}
.rt{
    right:-180px;


}

.d{
    width:255px;
    height:321px;
    /*border: 1px solid black;*/
    float:left;
    margin-left:30px;
}
.underimg{
    margin-top:-4px;
    position: relative;
    top:-20px;
}
.name{
    height:40px;
    width:220px;
    background: #323232;
    float: left;
    line-height: 40px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    color:#fff;
    text-transform: uppercase;
    padding-left:20px;
    font-weight: bold;
}
.price{
    height: 40px;
    width: 55px;
    background: #8c8c8c;
    float: left;
    line-height: 40px;
    text-align: center;
    margin-left:-20px;
    font-family: 'Roboto', sans-serif;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;

}
.d:hover{
    cursor:pointer;
}
.d:hover .name{
    background: #1abc9c;
    
}
.d:hover .price{
    background: #7fd9c7;
}
.d{
    position: relative;
}
.hov{
    position: absolute;
    top:10px;
    left:10px;
    width:235px;
    height:281px;
    background: rgba(100, 100, 100, 0.5);
    display: none;
    text-align: center;
}
.d:hover .hov{
    display: block;
}
.rct{
    border-width: 1px;
    border-color:  #ffffff;
    border-style: solid;
    width: 48px;
    height: 48px;
    display: inline-block;
    line-height: 59px;
}
.rct:hover{
    border-width: 1px;
    border-color:  #1abc9c;
    border-style: solid;
    background-color:  #1abc9c;
    width: 48px;
    height: 48px;
}
.rct3{
    margin-top:100px;
}
.collection{
    background-color:  #e9f0fd;
    padding-bottom: 40px;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
footer{
   
    background-color:  #323232;

    height: 88px;
}
h2:after{
    /*content:url('../img/line.gif'); */
    content:" ";
    background: #1abc9c;
    height: 8px;
    width:165px;
    display: block;
    margin-left:165px;
    margin-top: 20px;
    margin-bottom: 40px;

}
.sales h2:after{
    /*content:url('../img/line.gif'); */
    content:" ";
    background: #1abc9c;
    height: 8px;
    width:165px;
    display: block;
    margin-left:502px;
    margin-top: 20px;
    margin-bottom: 40px;

}

.catalog{
    background-color:  #e9f0fd;
    padding-top:50px;
}
.d img{

}