$logo-first-letter: #1abc9c;
$logo: #555252;
$h2: #515151;
$name-item: #323232;
$name-item-active: #1abc9c;
$price-item: #8c8c8c;
$price-item-active: #7fd9c7;
$button: #4ec6ab;
$bg-item: #e9f0fd;
$nav-link: #0f0101;
$underline: #4ec6ab;
$active-link: #1abc9c;
$footer: #323232;
$footer-text: #fefefe;
$footer-span: #46bfa9;
$button-left-right: #1abc9c;
$active-focus: #1abc9c;
$bg-new-coll: #e9f0fd;