/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

button {
  border: none;
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "Open Sans Regular";
  src: url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "Roboto Light";
  src: url("../fonts/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Pe icon 7 stroke";
  src: url("../fonts/Pe-icon-7-stroke.ttf") format("truetype");
}

.item-section h2, header {
  width: 1110px;
  margin: 0 auto;
}

.main-section h1 {
  font-family: "Roboto Black", sans-serif;
  font-size: 60px;
  color: #fff;
}

.main-section .tips {
  font-family: "Roboto Light", sans-serif;
  font-size: 24px;
  color: #fff;
}

.item-section h2 {
  font-family: "Roboto Black";
  font-size: 48px;
  color: #515151;
  text-align: center;
  position: relative;
}

.item-section h2::after {
  content: "";
  position: absolute;
  top: 67px;
  right: 470px;
  height: 7px;
  width: 164px;
  background-color: #4ec6ab;
}

.item-section .item-block {
  display: inline-block;
  max-width: 255px;
  margin-right: 30px;
}

.item-section .item-block:last-child {
  margin-right: 0;
}

.item-section .item-block:hover .name-item {
  background-color: #1abc9c;
}

.item-section .item-block:hover .price-item {
  background-color: #7fd9c7;
}

.item-section .item-block .img {
  float: left;
  display: inline-block;
  width: 100%;
  height: 281px;
  object-fit: cover;
}

.item-section .item-block .name-item {
  display: inline-block;
  float: left;
  padding: 14px;
  width: 200px;
  background-color: #323232;
  font-family: "Roboto Black", sans-serif;
  color: #fff;
}

.item-section .item-block .price-item {
  display: inline-block;
  float: right;
  width: 55px;
  padding: 14px;
  background: #8c8c8c;
  font-family: "Roboto Black", sans-serif;
  color: #fff;
}

footer {
  background-color: #323232;
  text-align: center;
  color: #fefefe;
  padding: 35px;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 16px;
}

.big-btn {
  display: inline-block;
  font-family: "Pe icon 7 stroke", sans-serif;
  color: #fff;
  text-align: center;
  font-size: 100px;
  position: absolute;
  width: 105px;
  height: 105px;
  top: 15px;
  cursor: pointer;
}

header {
  height: auto;
  overflow: hidden;
  padding: 38px 0 35px;
}

header .logo {
  font-family: "Roboto Light", sans-serif;
  font-size: 30px;
  color: #555252;
  float: left;
}

header .logo::first-letter {
  font-family: "Roboto Black", sans-serif;
  color: #1abc9c;
}

header nav {
  float: right;
}

header nav a {
  font-family: "Open Sans Bold", sans-serif;
  font-size: 14px;
  color: #0f0101;
  margin-left: 25px;
}

header nav a:hover {
  color: #1abc9c;
}

header nav .active {
  color: #1abc9c;
}

.main-section {
  min-height: 599px;
  text-align: center;
  position: relative;
  z-index: 1;
}

.main-section::before {
  content: "";
  position: absolute;
  z-index: -1;
  background-color: #000000;
  opacity: 0.52;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-section .main-block {
  display: inline-block;
  margin-top: 218px;
  position: relative;
}

.main-section .main-block * {
  text-align: left;
}

.main-section .main-block .right-button {
  background: url("../img/right-btn.png"), #1abc9c;
  right: -180px;
}

.main-section .main-block .left-button {
  background: url("../img/left-btn.png"), #1abc9c;
  left: -180px;
  opacity: 0.52;
}

.main-section h1 {
  margin-bottom: 18px;
}

.item-section {
  text-align: center;
  padding: 120px 0 100px;
  background-color: #e9f0fd;
}

.item-section h2 {
  margin-bottom: 121px;
}

.item-section .item-block {
  position: relative;
}

.item-section .item-block:last-child {
  padding-right: 0;
}

.item-section .item-block::before {
  display: none;
  position: absolute;
  content: "";
  background-color: black;
  top: 10px;
  bottom: 10px;
  left: 10px;
  right: 10px;
  width: 235px;
  height: 261px;
  opacity: 0.5;
}

.item-section .item-block:hover::before {
  display: block;
}

.item-section .item-block .item-option-hover {
  position: absolute;
  display: none;
  width: 235px;
  height: 261px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
  text-align: center;
  color: #fff;
}

.item-section .item-block:hover .item-option-hover {
  display: inline-block;
}

.item-section .item-block .like,
.item-section .item-block .random,
.item-section .item-block .time {
  display: inline-block;
  line-height: 1.65;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  margin-right: 5px;
  font-size: 30px;
  font-family: "Pe icon 7 stroke";
}

.item-section .item-block .like:hover,
.item-section .item-block .random:hover,
.item-section .item-block .time:hover {
  border-color: #1abc9c;
  background-color: #1abc9c;
}

.item-section .item-block .time {
  margin-right: 0px;
  margin-top: 0px;
}

.item-section .item-block .add-to-cart {
  display: inline-block;
  text-align: center;
  width: 168px;
  height: 50px;
  margin-top: 7px;
  border: 1px solid #fff;
  font-size: 30px;
  font-family: "Pe icon 7 stroke";
  line-height: 1.65;
}

.item-section .item-block .add-to-cart span {
  color: #fff;
  font-family: "Open Sans Regular", sans-serif;
  font-size: 14px;
  vertical-align: super;
}

.item-section .item-block .add-to-cart:hover {
  border-color: #1abc9c;
  background-color: #1abc9c;
}

footer span {
  color: #46bfa9;
}
/*# sourceMappingURL=main.css.map */